

  <div class="container-fluid" data-controller="<%= controller_name %>">
    <div class="board">

      <div id="photo-container">
        <img src="assets/waldo.jpg" class="img-responsive">
      </div>

      <div id="tag-container"></div>

      <div class="characters">
        <ul style="list-style-type: none;margin:0;padding:0.5px;">
          <li class="character"><a href="#">Waldo</a></li>
          <li class="character"><a href="#">Wilma</a></li>
          <li class="character"><a href="#">Wenda</a></li>
          <li class="character"><a href="#">Odlaw</a></li>
        </ul>
      </div>

    </div>
  </div>
