<div class="container-fluid row" data-controller="<%= controller_name %>"> 
  <div class="col-xs-1 col-md-1 col-lg-1"></div>
  <div class="board col-xs-10 col-md-10 col-lg-10">

    <div id="photo-container">
      <%= image_tag "ww_giant_image.jpg", class: 'game-image' %>
    </div>

    <div id="tag-container"></div>

    <div class="characters">
      <ul style="list-style-type: none;margin:0;padding:0.5px;">
      </ul>
    </div>

  </div>
</div>
